html,
.root {
  padding: 0;
  margin: 0;
  font-size: 18px;
}

body {
  font: menu;
  font-size: 1rem;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}
section {
  /*padding-top: 4rem;*/
  padding-top: 1rem;
  width: 99%;
  margin-right: auto;
}
h1 {
  /*font-size: 2rem;*/
  font-size: 18px !important;
  font-weight: 500;
}
details.sub[open] summary.sub ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details.sub summary.sub::-webkit-details-marker {
  display: none;
}

details.sub summary.sub {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid black;
  position: relative;
  cursor: pointer;
  /*font-size: 1.25rem;*/
  font-size: 16px !important;
  font-weight: 300;
  list-style: none;
}

details.sub summary.sub:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.35rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}
details.sub[open] summary.sub:after {
  transform: rotate(45deg);
  font-size: 1.6rem;
}
details.sub summary.sub {
  outline: 0;
}
details.sub p {
  /*font-size: 0.95rem;*/
  font-size: 14px !important;
  margin: 0 0 1rem;
  padding-top: 0.5rem;
}





details.top[open] summary.top ~ * {
  animation: open 0.3s ease-in-out;
}

details.top summary.top::-webkit-details-marker {
  display: none;
}

details.top summary.top {
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid black;
  position: relative;
  cursor: pointer;
  /*font-size: 1.25rem;*/
  font-size: 16px !important;
  font-weight: 300;
  list-style: none;
}

details.top summary.top:after {
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  color: black;
  position: absolute;
  font-size: 1rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 900;
  transform-origin: center;
  transition: 200ms linear;
}
details.top[open] summary.top:after {
  transform: rotate(90deg);
  font-size: 1.05rem;
}
details.top summary.top {
  outline: 0;
}
details.top p {
  /*font-size: 0.95rem;*/
  font-size: 14px !important;
  margin: 0 0 1rem;
  padding-top: 0.5rem;
}



